@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #D13C30;
  --redtitle: #1a1a1a;
  --title: #1a1a1a;
  --subtitle: #666666;
  --black: #3A3335;
  --white: #fff;
  --blue: #575790;
  --grey: #575761;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

button {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.app {
  margin: 0;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.05) 5%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.05) 95%,
      rgba(0, 0, 0, 0.15) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 524px) {

  html,
  body {
    overflow-x: hidden !important;
  }
}